<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <link rel="stylesheet" href="static/styles.css"><link>
    <link rel="stylesheet" href="static\fontawesome-free-web\css\all.css"><link>
    <body class="blocked_body">
        <div class="blocked_contents">
            <div class="blocked_msg_box">
                <i style="color: rgb(255, 0, 0);" class="fa-solid fa-ban fa-fade fa-5x"></i>
                <h1>Yes, you are using a VPN</h1>
            </div>
        </div>
    </body>
</html>
<script src="static/fontawesome-free-web/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script>
console.log("\x1b[1;95m[AntiVPN] \x1b[96mVPN Detected\x1b[0m\n")
</script>