<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="static/styles.css"><link>
        <link rel="stylesheet" href="static/fontawesome-free-web/css/all.css"><link>
        <meta property="og:site_name" content="AntiVPN • Checker" /> <!-- website name -->
        <meta property="og:site" content="https://antivpn.vercel.app/" /> <!-- website link -->
        <meta property="og:title" content="AntiVPN • Checker"/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="This is just a demo. Yet to be inplemented in DisGhost" /> <!-- description shown in the actual shared post -->
        <meta property="og:url" content="https://antivpn.vercel.app/" /> <!-- where do you want your post to link to -->
        <meta property="og:type" content="article"/>
        <meta name="language" content="EN">
        <meta name="author" content="KarmaHitsHardDEV#6568, discordID: 492019506562990080 (look it up)">
        <meta name="designer" content="KarmaHitsHardDEV#6568, discordID: 492019506562990080 (look it up)">
        <meta name="owner" content="KarmaHitsHardDEV#6568, discordID: 492019506562990080 (look it up)">
        <meta name="theme-color" content="#FFFFFF">
        <meta property="og:thumbnail" content="https://dr-insanity.github.io/disghost-site/banner/X.gif" />
    </head>
    <body class="css-selector main_body">
        <div class="main_msg_box enableBlur">
            <div class="disableBlur">
                <h1 style="color: #6a00ff;">DisGhost's candidate for detecting VPN users.</h1>
                <p>Press start to check whether you're using a VPN or not.</p>
            </div>
        </div>
        <div class="main_msg_box enableBlur" style="margin-top: 10px!important; margin-bottom: 20px!important;">
            <div class="disableBlur">
                <h2>But before that, there's some things you need to know</h1>
                <div class="parent">
                    <ul>
                        <li>The VPN checker uses your webbrowser's feature <a href="">WebRTC</a>, which needs to be enabled.</li>
                        <li>
                            WebRTC is both used by attackers and normal developers alike. It's not a bad feature, but unfortunately just <br>unethically used.
                            Most webbrowsers have this for that reason disabled by default (For security reasons).</br></li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="button-blurple" href="/checks">Start</a>
        <!-- https://github.com/diafygi/webrtc-ips -->
        <iframe id="iframe" sandbox="allow-same-origin" style="display: none"></iframe>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
        <script>
            async function check_If_Brave() {
                let isBrave = navigator.brave && await navigator.brave.isBrave() || false
                if (typeof isBrave === "boolean") {
                    return isBrave
                }
            }

            // Opera 8.0+
            var is_Opera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

            // Firefox 1.0+
            var is_Firefox = typeof InstallTrigger !== 'undefined';

            // Safari 3.0+ "[object HTMLElementConstructor]" 
            var is_Safari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

            // Internet Explorer 6-11
            var is_IE = /*@cc_on!@*/false || !!document.documentMode;

            // Edge 20+
            var is_Edge = !is_IE && !!window.StyleMedia;

            // Chrome 1 - 71
            var is_Chrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

            // Blink engine detection
            var is_Blink = (is_Chrome || is_Opera) && !!window.CSS;

            // Brave detection
            var is_Brave = check_If_Brave()
            is_Brave = Boolean(is_Brave)

            var Browser, Browsers, browsercursor, browsernames;
            Browsers = [is_Opera, is_Firefox, is_Safari, is_IE, is_Edge, is_Chrome, is_Blink, is_Brave];
            browsernames = ["Opera", "Firefox", "Safari", "Internet Explorer", "Microsoft Edge", "Google Chrome", "Blink Engine", "Brave"];
            Browser = {};
            browsercursor = 0;

            for (var browsername, _pj_c = 0, _pj_a = browsernames, _pj_b = _pj_a.length; _pj_c < _pj_b; _pj_c += 1) {
                browsername = _pj_a[_pj_c];
                Browser[browsername] = Browsers[browsercursor];
                browsercursor += 1;
            }

            let output = "";
            for (let browsers in Browser) {
                output += Browser[browsers];
            }

            var cursor = 0
            let entries = Object.entries(Browser);
            for (var entry, _pj_c = 0, _pj_a = entries, _pj_b = _pj_a.length; _pj_c < _pj_b; _pj_c += 1) {
                entry = _pj_a[_pj_c];
                if (entry[1]) {
                    console.log('\x1b[1;95m[AntiVPN] \x1b[96mBrowser is \x1b[1;34m' + entry[0] + ':\x1b[1;32m ' + entry[1]);
                    const butt = document.createElement("button");
                    const node = document.createTextNode("Start");
                    butt.appendChild(node);
                }
                else {
                    console.log('\x1b[1;95m[AntiVPN] \x1b[96mBrowser is \x1b[1;34m' + entry[0] + ':\x1b[1;31m ' + entry[1]);
                }
                cursor += 1;
            }
        </script>
    </body>
</html>