<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <link rel="stylesheet" href="static/styles.css"><link>
    <link rel="stylesheet" href="static/fontawesome-free-web/css/all.css"><link>
    <body class="success_body">
        <div class="success_contents">
            <div class="success_msg_box">
                <i class="fa-solid fa-check fa-bounce fa-5x"></i>
                <h1>You're good. Proceed.</h1>
            </div>
        </div>
    </body>
</html>
<script src="static/fontawesome-free-web/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script>
console.log("\x1b[1;95m[AntiVPN] \x1b[96mSuccess!\x1b[0m\n")
</script>