<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <link rel="stylesheet" href="static/styles.css"><link>
    <link rel="stylesheet" href="static/fontawesome-free-web/css/all.css"><link>
    <body class="blocked_body">
        <div style="margin-top: 10%;" class="blocked_contents">
            <div style="display: table;" class="blocked_msg_box">
                <i class="fa-solid fa-ban fa-fade fa-5x"></i>
                <h1>Your WebRTC is disabled by your browser</h1>
                <p>This is done by default. As it's also used by malicious attackers. However, here, it's just used to check whether you are currently using a VPN or not. Enable it (Google it for now on how to do it. Usually, it's 3-4 steps)</p>
            </div>
        </div>
    </body>
</html>
<script src="static/fontawesome-free-web/js/all.js"></script>
<script>
console.log("\x1b[1;95m[AntiVPN] \x1b[96mWebRTC blocked.\x1b[0m\n")
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script> -->